{% extends "layouts/base.html" %} 
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
<div class="wrapper">
  <article class="introduction">
    <div class="xxxxflow">
      <h1 class="weight-normal text-major letter-spacing">
        {{ intro.eyebrow }}
      </h1>
      <p class="weight-normal text-400">
        {{ intro.introduction }}
      </p>
    </div>
  </article>
  <article class="calendar">
    <div class="grid-container radius">
      <ul class="weekdays">
        <li>
          <abbr title="M">Mon</abbr>
        </li>
        <li>
          <abbr title="T">Tue</abbr>
        </li>
        <li>
          <abbr title="W">Wed</abbr>
        </li>
        <li>
          <abbr title="T">Thu</abbr>
        </li>
        <li>
          <abbr title="F">Fri</abbr>
        </li>
        <li>
          <abbr title="S">Sat</abbr>
        </li>
        <li>
          <abbr title="S">Sun</abbr>
        </li>
      </ul>
      <ol class="day-grid">
        <li class="month=prev">29</li>
        <li class="month=prev">30</li>
        <li class="month=prev">31</li>
        <li class="month-this">1</li>
        <li class="month-this">2</li>
        <li class="month-this">3</li>
        <li class="month-this">4</li>
        <li class="month-this">5</li>
        <li class="month-this">6</li>
        <li class="month-this">7</li>
        <li class="month-this">8</li>
        <li class="month-this">9</li>
        <li class="month-this">10</li>
        <li class="month-this">11</li>
        <li class="month-this">12</li>
        <li class="month-this">13</li>
        <li class="month-this">14</li>
        <li class="month-this">15</li>
        <li class="month-this">16</li>
        <li class="month-this">17</li>
        <li class="month-this">18</li>
        <li class="month-this">19</li>
        <li class="month-this">20</li>
        <li class="month-this">21</li>
        <li class="month-this">22</li>
        <li class="month-this">23</li>
        <li class="month-this">24</li>
        <li class="month-this">25</li>
        <li class="month-this">26</li>
        <li class="month-this">27</li>
        <li class="month-this">28</li>
        <li class="month-this">29</li>
        <li class="month-this">30</li>
        <li class="month-next">1</li>
        <li class="month-next">2</li>
      </ol>
    </div>
  </article>
  <article class="calendar">
    <div class="calendar__grid">
      <span class="calendar__item weekday">
        <abbr title="M">Mon</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="T">Tue</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="W">Wed</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="T">Thu</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="F">Fri</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="S">Sat</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="S">Sun</abbr>
      </span>
    </div>
      <div class="calendar__grid">
        <a class="calendar__item day">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-national">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">1</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">1</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">3</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">4</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">5</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">6</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">7</span>
          <span class="day__description">National day</span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">8</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">9</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">10</span>
          <span class="day__description">National day</span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">11</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">12</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">13</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">14</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">15</span>
          <span class="day__description">National day</span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">16</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
      </div>
  </article>
</div>
{% endblock %}