{% extends "layouts/base.html" %} 
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
<div class="wrapper">
  <article class="introduction">
    <div class="xxxxflow">
      <h1 class="weight-normal text-major letter-spacing">
        {{ intro.eyebrow }}
      </h1>
      <p class="weight-normal text-400">
        {{ intro.introduction }}
      </p>
    </div>
  </article>
  <article class="calendar">
    <div class="calendar__grid">
      <span class="calendar__item weekday">
        <abbr title="M">Mon</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="T">Tue</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="W">Wed</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="T">Thu</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="F">Fri</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="S">Sat</abbr>
      </span>
      <span class="calendar__item weekday">
        <abbr title="S">Sun</abbr>
      </span>
    </div>
      <div class="calendar__grid">
        <a class="calendar__item day day-outline">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">1</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">2</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">3</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">4</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">5</span>
          <span class="day__description">Pentecost Sunday</span>
        </a>
        <a class="calendar__item day day-national">
          <span class="day__number">
            <img src={{ intro.image }} alt="party popper">
          </span>
          <span class="day__description">National day</span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">7</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">8</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">9</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">10</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">11</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">12</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">13</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">14</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">15</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-national">
          <span class="day__number">
            <img src={{ intro.image }} alt="party popper">
          </span>
          <span class="day__description">National day</span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">17</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">18</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">19</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">20</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">21</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">22</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">23</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-national">
          <span class="day__number">
            <img src={{ intro.image }} alt="party popper">
          </span>
          <span class="day__description">Midsummer's Eve</span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">25</span>
          <span class="day__description">Midsummer's Day</span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number">26</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">27</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">28</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">29</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day">
          <span class="day__number">30</span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
        <a class="calendar__item day day-outline">
          <span class="day__number"></span>
          <span class="day__description"></span>
        </a>
      </div>
  </article>
</div>
{% endblock %}