.day {
    background-color: rgba(0, 0, 0, 0.05);
    height: 12vw;
    max-height: 10.5rem;
    border-radius: 16px;
    transition: all 150ms;

  &-national {

    &:hover {
      color: get-color('primary-shade');
      text-decoration-color: get-color('dark-shade');
      transform: scale(1.25);
    }
  }

  &__number {
    font-size: get-size('500');
    line-height: get-size('500');
    letter-spacing: -0.1em;
  }

  &__description {
    font-size: get-size('300');
  }

  @include media-query('lg') {
    &__number {
      font-size: get-size('700');
      line-height: get-size('700');
    }

    &__description {
      font-size: get-size('400');
    }
  }
}